<title>{{copy.title}}</title>
<meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no'>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
<meta name='author' content='The Boston Globe' />
<meta name='description' content='{{copy.description}}'/>
<meta property='og:city' content='Boston' />
<meta property='og:state' content='MA' />
<meta property='og:country' content='US' />
<meta property='og:type' content='article'/>
<meta property='og:title' content='{{copy.title}}' />
<meta property='og:description' content='{{copy.description}}' />
<meta property='og:url' content='{{copy.url}}' />
<meta property='og:image' content='{{copy.image_url}}' />
<meta property='og:site_name' content='BostonGlobe.com' /> 
<meta property='fb:admins' content='100001044693856,507486035' /> 
<meta property='fb:app_id' content='103933749691726' />
<meta property='article:publisher' content='https://www.facebook.com/globe' />
<meta property='twitter:account_id' content='95431448' />
<meta name='twitter:title' content='{{copy.title}}'>
<meta name='twitter:card' content='{{copy.title}}' />
<meta name='twitter:site' content='BostonGlobe'>
<meta name='robots' content='noarchive' />
<meta name='keywords' content='Boston Globe, Boston, interactive, graphic, {{copy.title}}, {{copy.keywords}}' />
<meta name='news_keywords' content='Boston Globe, Boston, interactive, graphic, {{copy.title}}, {{copy.keywords}}' />